# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv311/
venv/
.venv/

# Local dataset
chest_xray/

# Streamlit temporary files
.streamlit_temp/
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log